<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>百度旅游</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable" />
		<meta content="black" name="apple-mobile-web-app-status-bar-style" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" type="text/css" href="/widgets/css-widgets/css-reset/reset.css?__inline"/>
		<link rel="stylesheet" type="text/css" href="/widgets/css-widgets/css-iconfont/iconfont.css?__inline"/>
		<link rel="stylesheet" type="text/css" href="/widgets/css-widgets/base.css?__inline"/>
		<link rel="stylesheet" type="text/css" href="/widgets/css-widgets/css-loading/loading.less?__inline"/>
		<link rel="stylesheet" type="text/css" href="/widgets/css-widgets/css-tip/tip.less?__inline"/>
		<script type="text/javascript" src="/lib/mod.js?__inline"></script>
	</head>	
<body>
<script type="text/javascript" src="/lib/init.js?__inline"></script>